<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>成员二</title>
		<link rel="stylesheet" type="text/css" href="suibian/css/member.css" />
	</head>

	<body>
		<div class="wrap">
			<div class="head"></div>
			<div class="nav">
				<div class="nav_v">
					<a>Roux Meetups</a>
					<a>chat</a>
					<a>Feedback</a>
					<a>Speakers</a>
					<a>Home</a>
				</div>
			</div>
			<div class="content">
				<div class="content_t">
					<div class="content_left">
						<p>The Art of Abstract</p>
						<p>with Riley Rudolph Rewington</p>
						<img src="suibian/images/Riley_Rewington.jpg"/>
						<div>i am from luoyang,a beautiful city in henan province. it is famous as the "capital of nine dynasties " and enjoy yhe honer that luoyang peony is the best in the world.luoyang played a very important role in chinese history. so it has a profound cultural background and many great heritagesites have been well reverved. such as longmen grotto, one of the three grottoes in china ang white horse temple, being regarded as the cradle of chnese buddhism.</div>
						<div>luoyang peony is world-famous. every year, many tourists travel to luoyang to see the beauty of peony .the people in my hometown are friendly, they welcome the travellers from all over the world.i like my hometown very much.luoyang peony is world-famous. every year, many tourists travel to luoyang to see the beauty of peony .the people in my hometown are friendly, they welcome the travellers from all over the world.i like my hometown very much.luoyang peony is world-famous. every year, many tourists travel to luoyang to see the beauty of peony .the people in my hometown are friendly, they welcome the travellers from all over the world.i like my hometown very much.</div>
					</div>
					<div class="content_right">
						<p>Artwork on display</p>
						<p>While you attend the conference,head over to ourgallery where you can check out some of the work from our speakers.</p>
						<img src="suibian/images/Riley_Rewington_01_tn.jpg"/>
						<img src="suibian/images/Riley_Rewington_02_tn.jpg"/>
						<img src="suibian/images/Riley_Rewington_03_tn.jpg"/>
						<img src="suibian/images/Riley_Rewington_04_tn.jpg"/>
						<img src="suibian/images/Riley_Rewington_05_tn.jpg"/>
						<img src="suibian/images/Riley_Rewington_06_tn.jpg"/>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			(function(doc, win) {
				var docEl = doc.documentElement,
					resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
					recalc = function() {
						var clientWidth = docEl.clientWidth;
						if (!clientWidth) return;
						if (clientWidth > 1200) {
							docEl.style.fontSize = 100 * (clientWidth / 1903) + 'px';
						} else
							docEl.style.fontSize = 73.56805044666316 + 'px';
					};
				if (!doc.addEventListener) return;
				win.addEventListener(resizeEvt, recalc, false);
				doc.addEventListener('DOMContentLoaded', recalc, false);
			})(document, window);
		</script>
	</body>

</html>