<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="suibian/css/成员详情列表.css" />
	</head>
	<body>
		<div class="header">
			<div class="H_nav">
				<div class="H_navCon">
					<p>Roux Meetups</p>
					<ul>
						<li>Home</li>
						<li>Speakrs↓</li>
						<li>Feedback</li>
						<li>Chat</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="Con">
			<div class="Ccen">
				<div class="C_left">
					<div class="CLcen">
						<div class="CLCtop">
							<p>
								Art in Full Bloom
							</p>
							<span>
								with lorenzo Garcia
							</span>
						</div>
						<div class="CLCbot">
							<img src="/suibian/images/speakers/Lorenzo_Garcia_tn.jpg">
							<p>
								I begin work for a small private company as a technical support engineer in QingDao city.Because I'm capable of more responsibilities, so I decided to change my job. And in worked for a foreign enterprise as a automation software test engineer.
							</p>
						</div>
					</div>
					<div class="CLcen">
						<div class="CLCtop">
							<p>
								Deep Sea Wonders
							</p>
							<span>
								with Hilary GoldywynnPost
							</span>
						</div>
						<div class="CLCbot">
							<img src="/suibian/images/speakers/Hillary_Goldwynn_tn.jpg">
							<p>
								I begin work for a small private company as a technical support engineer in QingDao city.Because I'm capable of more responsibilities, so I decided to change my job. And in worked for a foreign enterprise as a automation software test engineer.
							</p>
						</div>
					</div>
					<div class="CLcen">
						<div class="CLCtop">
							<p>
								The Art of Abstract
							</p>
							<span>
								with Riley Rudolph Rewington
							</span>
						</div>
						<div class="CLCbot">
							<img src="/suibian/images/speakers/Riley_Rewington_tn.jpg">
							<p>
								I begin work for a small private company as a technical support engineer in QingDao city.Because I'm capable of more responsibilities, so I decided to change my job. And in worked for a foreign enterprise as a automation software test engineer.
							</p>
						</div>
					</div>
				</div>
				<div class="C_rifht">
					<div class="CRtop">
						<p>
							Artwork on display
						</p>
						<span>
							Because I want to change my working environment, I'd like to find a job which is more challenging. 
						</span>
					</div>
					<div class="R_img">
						<img src="/suibian/images/artwork/Lorenzo_Garcia_01_tn.jpg">
						<img src="/suibian/images/artwork/Lorenzo_Garcia_02_tn.jpg">
						<img src="/suibian/images/artwork/Lorenzo_Garcia_03_tn.jpg">
						<img src="/suibian/images/artwork/Lorenzo_Garcia_04_tn.jpg">
						<img src="/suibian/images/artwork/Hillary_Goldwynn_01_tn.jpg">
						<img src="/suibian/images/artwork/Hillary_Goldwynn_02_tn.jpg">
						<img src="/suibian/images/artwork/Hillary_Goldwynn_03_tn.jpg">
						<img src="/suibian/images/artwork/Hillary_Goldwynn_04_tn.jpg">
						<img src="/suibian/images/artwork/Hillary_Goldwynn_05_tn.jpg">
						<img src="/suibian/images/artwork/Hillary_Goldwynn_06_tn.jpg">
						<img src="/suibian/images/artwork/Hillary_Goldwynn_07_tn.jpg">
						<img src="/suibian/images/artwork/Riley_Rewington_01_tn.jpg">
						<img src="/suibian/images/artwork/Riley_Rewington_02_tn.jpg">
						<img src="/suibian/images/artwork/Riley_Rewington_03_tn.jpg">
						<img src="/suibian/images/artwork/Riley_Rewington_04_tn.jpg">
						<img src="/suibian/images/artwork/Riley_Rewington_05_tn.jpg">
						<img src="/suibian/images/artwork/Riley_Rewington_06_tn.jpg">
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
<script type="text/javascript">
	(function (doc, win) {
          var docEl = doc.documentElement,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function () {
              var clientWidth = docEl.clientWidth;
              if (!clientWidth) return;
			  if(clientWidth>1200){
				   docEl.style.fontSize = 100 * (clientWidth / 1903) + 'px';
				}
			   else 	  
            docEl.style.fontSize = 73.56805044666316  + 'px';
            };

          if (!doc.addEventListener) return;
          win.addEventListener(resizeEvt, recalc, false);
          doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
	
</script>
